<div class="main">

  <h1>About Me</h1>

  <h2>A little about me</h2>

  <md-tab-group color="accent">

    <md-tab label="Bio">
      <p>I am a Front-End Developer based in Port Harcourt, Nigeria.</p>
      <p>I write pretty cool articles on my blog on <a href="https://codehacks.tk"><em>codehacks</em></a>
      </p>
      <p>You can find me penning down my thoughts about life on <a href="https://medium.com/@gobokel"><em>medium</em></a>
      </p>
      <p>I currently work at <a target="_blank" href="https://dewbicon.com"><em>Dewbicon Technologies</em></a>
      </p>
    </md-tab>

    <md-tab label="Projects">
      <a href="https://dewbicon.com"><h3>Dewbicon Technologies</h3></a>
      <div class="flex">
      <img src="../assets/dewbicon.png" alt="Dewbicon Technologies">
      <p>I was part of a team of two that designed and built the company's website. It is mainly a static website that explains what the company does.</p></div>

      <a href="https://codehacks.tk"><h3>Codehacks PWA</h3></a>
      <div class="flex">
      <img src="../assets/codehacks.png" alt="Codehacks PWA">
      <p>This is a Progressive Web Application I built as a blog. I built it using modern APIs and Libraries like <span class="red">Webcomponents API, the Polymer Library, Service Worker API</span>, and the <span class="red">IndexedDb API</span>.</p></div>
    </md-tab>

  </md-tab-group>

  <hr>

</div>
